<% provide(:title, 'Test') %>

<div class='round' style="background-color:#fff;padding:30px;">
  <script>
  if (document.referrer != ''){ 
    document.write(document.referrer);
  }
  </script>
  
  <a href="http://localhost:3000/test" class="btn btn-large btn-primary">Test</a>
  
</div>

