<% provide(:title, 'Projects') %>
<link rel="stylesheet" type="text/css" href="js/jqcloud/jqcloud.css" />
<script type="text/javascript" src="js/jqcloud/jqcloud-1.0.0.js"></script>

<h1 style="font-size: 2em;margin-top:20px;color:#FF0084">IT 咨询</h1>
  <div class='round' style="background-color:whiteSmoke;padding:30px;">
      <h3 style="color:#0073EA">新加坡华侨银行项目管理咨询</h3>
      <hr />
      <ul>
        <li class="edu_li">采用项目管理的分析法结合管理的主要知识领域，评估了该银行其中一个IT项目</li>
        <li class="edu_li">为该银行提供了未来项目管理的可行性建议</li>
        <li class="edu_li">咨询小组包括两名全职大学生，两名兼职研究生，和一名全职研究生</li>
        <li class="edu_li">本人主要负责项目风险管理方面的评估与分析</li>
      </ul>
  </div>

  <div class='round' style="background-color:whiteSmoke;padding:30px;margin-top:20px;">
      <h3 style="color:#0073EA">美国美泰玩具公司采购案例分析</h3>
      <hr />
      <ul>
        <li class="edu_li">深入分析了美国美泰玩具公司所有的玩具召回案例和其供应链管理</li>
        <li class="edu_li">分析研究了公司的业务外包和供应链管理的形成，及如何采用合理的监管与测试手段</li>
        <li class="edu_li">研究了公司危机管理，及如何处理公司与政府间的关系</li>
        <li class="edu_li">研究小组为五人小组</li>
      </ul>
  </div>

  <div class='round' style="background-color:whiteSmoke;padding:30px;margin-top:20px;">
      <h3 style="color:#0073EA">全顺旅行社客户关系管理项目</h3>
      <hr />
      <ul>
        <li class="edu_li">帮助新加坡全顺旅行社搭建与客户沟通交流、获取和分析客户信息的平台</li>
        <li class="edu_li">搭建和管理了该公司的Facebook主页</li>
        <li class="edu_li">用客户关系管理的角度帮助该公司分析了其业务，并采取了改进措施</li>
        <li class="edu_li">项目小组为四人小组</li>
      </ul>
  </div>

  <div class='round' style="background-color:whiteSmoke;padding:30px;margin-top:20px;">
      <h3 style="color:#0073EA">ERP业务流程管理解决方案</h3>
      <hr />
      <ul>
        <li class="edu_li">分析评估了汽车行业的业务流程整合，及ERP在其中扮演的推动作用</li>
        <li class="edu_li">为该行业提出了一系列最优解决方案来整合其业务流程</li>
        <li class="edu_li">研究了ERP在该过程中带来的影响和挑战</li>
        <li class="edu_li">项目小组为四人小组，本人担任组长</li>
      </ul>
  </div>

<br />
<h1 style="font-size: 2em;margin-top:20px;color:#FF0084">程序开发</h1>
  <div class='round' style="background-color:whiteSmoke;padding:30px;">
      <h3 style="color:#0073EA">AutoComPaste Mobile技术开发</h3>
      <hr />
      <ul>
        <li class="edu_li">开发了一套全新的在智能手机上进行跨软件复制粘贴的方法。该方法将自动填补技术融入传统复制粘贴，大大提高了操作效率</li>
        <li class="edu_li">消除了在手机上跨软件复制粘贴时对软件转换操作以及源文件视觉搜索的需求，让用户可以不中断当前的工作状态来进行复制粘贴</li>
        <li class="edu_li">被证实是明显优于传统的智能手机跨平台复制粘贴</li>
        <li class="edu_li">超过4,000行代码</li>
        <li class="edu_li">在Wei Tsang Ooi教授和Zhao Shengdong教授的指导下独立完成</li>
      </ul>
  </div>

  <div class='round' style="background-color:whiteSmoke;padding:30px;margin-top:20px;">
      <h3 style="color:#0073EA">轻量级企业管理系统（ERP）开发</h3>
      <hr />
      <ul>
        <li class="edu_li">为食品公司开发了一套企业管理系统</li>
        <li class="edu_li">该系统包含销售和供应模块、生产规划模块、和原材料管理模块</li>
        <li class="edu_li">该系统可以自动生成PDF报表</li>
        <li class="edu_li">该系统使用Java EE 5和JSF开发而成</li>
        <li class="edu_li">超过10,000行代码</li>
        <li class="edu_li">项目小组为五人小组，本人担任技术组长</li>
      </ul>
  </div>

  <div class='round' style="background-color:whiteSmoke;padding:30px;margin-top:20px;">
      <h3 style="color:#0073EA">补习班报名与支付系统开发</h3>
      <hr />
      <ul>
        <li class="edu_li">为补习班开发了基于网页的报名与支付系统</li>
        <li class="edu_li">该系统使用Java EE 5和JSP开发而成</li>
        <li class="edu_li">超过1,000行代码</li>
        <li class="edu_li">个人独立开发完成</li>
      </ul>
  </div>

  
